*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pixelify Sans', cursive;

}

.title{
    text-align: center;

}

.poke-title{
    height: 200px;

}

body{
    background-image: url(https://i.postimg.cc/Nfdmjvfy/wallpaperflare-com-wallpaper-1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}


.search{
    margin-bottom: 40px;
    text-align: center;
}

.search input{
    height: 30px;
    border-radius: 5px;

}

.search inptut[ type ='text']{
    font-size: 16px;

}

#check-btn{
    height: 30px;
    background-color: rgb(45,88,161);
    color: yellow;
    border-radius: 5px;
    padding: 5px 10px;
}

#pokeshow{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

}



.pokemon-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 250px; 
    height: 370px;
    background-color: #f0f0f0;
    border: 5px solid rgb(250,204,72);
    border-radius: 10px;
    box-shadow:10px 10px 0px 0px rgba(0, 0, 0, 0.75);
    margin-bottom: 48px;
    overflow: hidden;
    
}

.pokemon-card:hover{
    animation: bounce 0.5s linear;
}

@keyframes bounce {
    20% {
        transform: translateY(-6px);
    }
    40% {
        transform: translateY(0px);
    }

    80% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}


.move-hp{
    display: flex;
    justify-content: flex-end;
    margin: 5px 5px 0px 0px;
    
}

.hp{
    width: 45px;
    background-color: rgb(250,204,72);
    text-align: center;
    padding: 8px 0;
    border-radius: 50%;
    font-weight:  400;
    border: 1px solid black;
    font-size: 14px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.2);

   
}



.hp span{
    font-size: 11px;
    font-weight: 800;
}

.image-container{
    flex: 1;
    text-align: center ; 
    overflow: hidden;
    position: relative; 
    min-height: 46%;
  
}


.image-container img{
  position: absolute;
  left: 0;
  bottom:35%;
  left: 50%;
  transform: translate(-50%, 20%);
  height: 60%;
}


.text-container{
    flex: 1;
    background-color: purple;
    width: 100%;
    margin: 0;
    padding: 0; 
    border-radius: 0 0 3px 3px;
    border-top: 1px solid rgb(179, 174, 174);
    max-height: 54%;
    
    

}


.capitalize{
    text-transform: capitalize;
}

.text-container h2{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;

}



.type{
    background-color: #1A1A1A;
    padding: 5px;
    border-radius: 5px;
    display: inline-block; 
    width: auto;
    color: white;
    text-align: center;
    position: relative;
    top: -69px;
    left: 1px;
}


.text-container p {
    text-align: left; 
    font-size: 14px;
    padding: 5px ;

}

.stats {
    display: flex;
    flex-direction: column;
    position: relative;
    top:-30px;
}

.stat {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}

.stat-label {
    margin-right: 5px;
    font-weight: bold;
    display: flex;
    
}

.stat-value {
    font-weight: normal;
}
.btn2{
    display: flex;
    align-items: center;
    justify-content:center;
    margin-bottom: 40px;
    

}


#generateButton{
    height: 40px;
    background-color: rgb(45,88,161);
    color: yellow;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 15px;
}

progress[value]::-webkit-progress-bar {
    background-color: transparent; 
}

.hidden-on-large{
    display: none;
}

.hidden-on-mobile {
    display: none;
}


/* Mobile responsiveness media queries */

@media (max-width: 768px) {

    body{
        background-image: url(https://i.postimg.cc/59h06j0Z/pokemon.jpg);
        background-size: 100%;
    }
    .pokemon-card {
        width: 100%; 
        max-width: 250px; 
    }

    .poke-title{
        height: 150px;
    
    }
    
}

/*
#pokeshow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.poke-title {
    height: 150px;
}

#pokeshow .pokemon-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 250px;
    height: 370px;
    background-color: #f0f0f0;
    border: 5px solid rgb(250, 204, 72);
    border-radius: 10px;
    box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
    margin-bottom: 48px;
    overflow: hidden;
}





